* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
}

header {
    background-color: #4682B4;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
}

.imagem {
    width: 50px;
    cursor: pointer;
}

.menu {
    display: flex;
}

nav ul {
    display: flex;
    gap: 1.5rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #014687;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
}


